/*==========================================================================
  CONTACT
========================================================================== */
.f-contact{
	width:93%;
	margin:23px  auto 30px auto;
}

.inp-captcha{
	span{
		@include inline-block();
		padding:7px 0;
		margin-right:18px;
	}
	.form-control{
		@include inline-block();
		width:auto;
		vertical-align: middle;
		width: 80%;
		max-width: 77%;
	}
}


/*UPLOAD INPUT ADD STYLE*/
.bootstrap-filestyle.input-group{
	@include inline-block();
	margin-right:10px;
	float:left;
}

/*ADD Select Style*/
.bootstrap-select{
	.btn.btn-default{
		background:none;
		border:none;
		text-decoration:none;
		font-size:14px;
		text-align:center;
		text-transform:uppercase;
		color:rgba(white, 0.5);
		background:$bunker;
		border:1px solid darken($bunker, 20%);
		padding: 6px 12px;
		@include border-radius(8px);
	}
}