/*==========================================================================
  HOMEPAGE
========================================================================== */

#main{
	padding-top:60px;
	position:relative;
	z-index:4;
	padding-bottom:60px;

	&:after{
		content : "";
		position:absolute;
		top:5px;
		left:0;
		@include size(100%, 1px);
		background:#1c1c1c;
	}
}
.inside{
	width:98%;
}
#leftside{

}
#rightside{
	
}

.newslet{
	.left, .f-letter{
		@include make-md-column(6);
	}
	.left{
		border-right:1px solid #2a2d32;
	}

	.form-control{
		&::-webkit-input-placeholder {
   			text-align:center;
		}
		&:-moz-placeholder { /* Firefox 18- */
		   text-align:center;
		}
		&::-moz-placeholder {  /* Firefox 19+ */
		  text-align:center;
		}
		&:-ms-input-placeholder {  
		   text-align:center;
		}
	}

	.f-letter{
		text-align:center;
	}
}

.allnew{
	color:#949daa;
	strong{
		color:white;
		font-weight:700;
	}
	ul li{
			display:block;
			margin-bottom:$pixel + 5;
			padding-bottom:$pixel + 8;
			border-bottom:1px solid #1e242d;
			overflow:hidden;

			@include prefixed(transition,opacity 0.2s ease-out);

			&:last-child{
				border:none;
			}

			&:hover{
				@include opacity(0.7);
			}
	}
	figure{
		@include size(85px, 115px);
		float:left;
		margin-right:20px;
		border:1px solid #4c5466;
		@include border-radius(8px);
	}

	.desc{	
		overflow:hidden;
		margin-bottom:0;
		.price{
			display:block;
			color:#949daa;
			margin-top:20px;
		}
	}
}

.notes-btm{
	color:$gray_chateau;
	margin-top:70px;
	span{
		display:block;
		text-transform:uppercase;
	}

	a{
		color:white;
		text-transform:uppercase;
		text-decoration:underline;

		&:hover{
			color:darken(white, 20%);
		}
	}
}

/*==========================================================================
  INTRO
========================================================================== */

#mainslide{
	margin-bottom:30px;	
}

.royalSlider.heroSlider,
.royalSlider.heroSlider .rsOverflow {
	height:325px !important;
	width:475px !important;
	margin:0 auto;
}

#full-width-slider {
  width: 100%;
  color: #000;
}
.coloredBlock {
  padding: 12px;
  background: rgba(255,0,0,0.6);
  color: #FFF;
   width: 200px;
   left: 20%;
   top: 5%;
}
.infoBlock {
  position: absolute;
  top: auto;
  bottom:20px;
  right: 30px;
  left: auto;
  max-width:60%;
  padding-bottom: 0;
  background: #FFF;
  background: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  padding: 20px;
}
.infoBlockLeftBlack {
  color: #FFF;
  background: #000;
  background: rgba(0,0,0,0.75);
  left: 30px;
  right: auto;
  top:auto;
}
.infoBlock h4 {
  font: 700 24px/1.3 'Lato', sans-serif;
  margin: 0;
  padding-bottom: 3px;
}
.infoBlock p {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight:700;
  margin: 4px 0 0;
}
.infoBlock a {
  color: #FFF;
  text-decoration: underline;
}
.photosBy {
  position: absolute;
  line-height: 24px;
  font-size: 12px;
  background: #FFF;
  color: #000;
  padding: 0px 10px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  top: auto;
  border-radius: 2px;
  z-index: 25; 
} 
.photosBy a {
  color: #000;
}
.fullWidth {
  max-width: 1400px;
  margin: 0 auto 24px;
}

img.rsImg{
	@include border-radius(15px);
}

.rsOverflow{
	@include border-radius(15px);
}


.rsMinW{
	.rsBullet{
		@include size(14px, 18px);
	}
	.rsMinW .rsBullet.rsNavSelected span{
		@include square(8px);
		cursor:pointer;
	}
}

@media (min-width: 993px) and (max-width: $screen-lg){
	.royalSlider.heroSlider, .royalSlider.heroSlider .rsOverflow{
		height: 230px !important;
		width: 375px !important;
		margin:0 aut0;
	}	
}


@media screen and (min-width: 0px) and (max-width: 800px) {
  .royalSlider.heroSlider,
  .royalSlider.heroSlider .rsOverflow {
   
  }
  .infoBlock {
    padding: 10px;
    height: auto;
    min-width: 40%;
    left: 5px;
    right: auto;
    font-size: 12px;
  }
  .infoBlock h3 {
     font-size: 14px;
     line-height: 17px;
  }
}

@media (max-width: $screen-xs){
	.royalSlider.heroSlider, .royalSlider.heroSlider .rsOverflow {
		height: 270px !important;
		width: 100% !important;
	}
}

@media (max-width: $screen-phone){
	.royalSlider.heroSlider, .royalSlider.heroSlider .rsOverflow {
		height: 250px !important;
	}
	.infoBlock
	{
		bottom:50px;
	}
}