/*==========================================================================
  NAVIGATION
========================================================================== */

#navigation
{
	margin-top: 8px;
	ul{
		list-style:none;
		position:relative;
		margin:0;
		padding:0;

		a{
			@include inline-block();
			text-transform:uppercase;
			text-decoration:none;
			font-size:13px;
			line-height:1.4em;
			padding:5px 0;
			text-transform:uppercase;
			font-weight:700;
			color:$white;
			@include prefixed(transition, all 0.3s ease-out);
			border-bottom:6px solid transparent;
			@include text-shadow(3px 4px 5px rgba(24,36,54,.76));

			&:hover{
				color:$allports;
				border-bottom:6px solid $allports;
			}
		}

		li{
			position:relative;
			@include inline-block();
			margin:0;
			padding:0 15px;

			&:hover{
				> ul{
					display:block;
				}
			}

			&.current{
				a{
					border-bottom:6px solid $allports;
					color:$allports;
				}
			}
		}

	   //DROPDOWN
		ul{
			display:none;
			position:absolute;
			top:100%;
			left:0;
			background:rgba($blue_zodiac, 0.5);
			padding:0;

			li{
				float:none;
				width:200px;
				padding:0;
			}

			a{
				padding:10px 15px;
				display:block;
				border-bottom:none !important;
			
				&:hover{
					border-bottom:none  !important;
					background:#0093dd;
					color:white;
				}
			}

			 ul{
				top:0;
				left:100%;
			}
		}

	}

	#pull{
		display:none;
	}
}

.slicknav_menu {
	display:none;
}

@media screen and (max-width:$screen-sm - 1) {
	/* #menu is the original menu */
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}

@import "slicknav";