body{
	background:$black;
	font:14px/1.4 'Lato', sans-serif;
	color:$white;
	font-weight:normal;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}
ul, li{
	list-style:none;
	padding:0;
	margin:0;

}
#{headings()}{
	font-weight:normal;
	line-height:1.3em;		
}

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* ======== TITLE ======== */
.title-bg{
	margin:0;
	font: 700 17px/1.4em 'Lato', sans-serif;
	text-align:center;
	color:white;
	margin-bottom:23px;
	border-bottom:1px solid white;
	padding-bottom:8px;
	position:relative;

	&:before{
		content:"";
		position:absolute;
		left:0;
		top:0;
		@include size(20px, 41px);
		background-image: image-url("bluegrass.png");
		background-position:left top;
		background-repeat:no-repeat;

	}
}

.titleRound{
	&.boxbunker{
		padding: 12px 20px;
		@include border-radius(14px);
	}

	h2{
		margin:0;
		font: normal 22px/1.4 'Lato', sans-serif;
		text-transform:uppercase;
	}

	small{
		font-size:14px;
	}
}

/* ======== FORM ======== */
.form-control{
	background:$bunker;
	border:1px solid darken($bunker, 20%);	
	@include border-radius(8px);	
}

label{
	font-weight:normal;
}

.btn-black{
	background:none;
	border:none;
	text-decoration:none;
	font-size:14px;
	text-align:center;
	text-transform:uppercase;
	color:white;
	background:$black;
	border:1px solid #313337;
	padding: 10px 18px;
	@include border-radius(8px);
	@include prefixed(transition,opacity 0.2s linear);
	&:hover{
		@include opacity(0.6);
	}
}
a.btn-black{
	@include inline-block();
}

.group-span-filestyle{
		.btn.btn-default{
			background:none;
			border:none;
			text-decoration:none;
			font-size:15px;
			text-align:center;
			text-transform:uppercase;
			color:white;
			background:$black;
			border:1px solid #313337;
			padding: 6px 12px;
			@include border-radius(8px);
			@include prefixed(transition,opacity 0.2s linear);
			&:hover{
				@include opacity(0.6);
			}
		} 
}

/* ======== PLACEHOLDER ======== */
::-webkit-input-placeholder {
   color: #787979;
}
:-moz-placeholder { /* Firefox 18- */
   color: #787979;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #787979;  
}
:-ms-input-placeholder {  
   color: #787979;  
}


/* ======== Color ======== */
.blue{
	color:#06abfc;
}

/* ========ADD GRID  (Five col in a row) ======== */
//add with col-xs-6 together
.col-sm-5cols{
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;

  @media (min-width: 768px) {
    width: 19%;
      float: left;
  } 
}

/* ======== LAYOUT ======== */
.boxbunker{
	background:$bunker_light;
	padding:23px;
	@include border-radius(12px);
	margin-bottom:35px;

	&.centered{
		width:85%;
		margin-right:auto;
		margin-left:auto;
	}
}

.rs-col-7, .rs-col-5{
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	float:left;
}



@media (min-width: 992px){

	.rs-col-7{
		width:57%;
		float:left;
	}
	.rs-col-5{
		width:43%;
		float:left;
	}
		
}


