
//BASE COLOR PALLETE
$allports 				: #006FA6; 
$blue_zodiac 			: #0D203C;
$black					: #000000;
$bunker					: #040608;
$shark					: #313337;
$hibiscus				: #b32b75;
$white					: #ffffff;
$gray_chateau			: #97A0AD;
$bunker_light			: #0A0E13;

//SCREEN SIZE
//Responsive
$screen-phone 	: 330px !default;

//SIZE
$pixel	: 10px !default;