/*==========================================================================
  PORTOFOLIO
========================================================================== */

.toptitle{
	overflow:hidden;
	.titleRound{
		width: 87%;
		@include inline-block();
		margin-right: 20px;
		float:left;
	}
	.btn-nextbg{
		@include inline-block();
		background:$bunker_light;
		padding: 13px 20px;
		@include border-radius(12px);
		margin-bottom:35px;
		color:#333437;
		@include prefixed(transition, all 0.3s linear);
		font-size:33px;
		text-transform:uppercase;
		text-align:center;
		float:right;

		&:hover{
			color:white;
			background:rgba($bunker_light, 0.7);
			text-decoration:none;
		}
	}
}

.table.tb-center{
	width:87%;
	margin:0 auto;
	td{
		border:none;
		padding:4px 8px;
	}
}