@import "compass";
@import "compass/css3";
@import "compass/css3/images";

@import "partials/bootstrap/variables";
@import "partials/bootstrap/mixins";

@import "partials/fonts";
@import "base/variable";
@import "base/mixins";

//$screen-lg 		: 1200;
//$screen-md 		: 979;
//$screen-sm 		: 768;
//$screen-sm - 1 	: 767;
//$screen-xs 		: 480;
//$screen-phone 	: 330;


@media (max-width: $screen-lg){
	.toptitle{
		.titleRound{
			width:83%;
		}
	}

	/*.col-sm-5cols{
		width:23%;
	}*/

	/*FIVE IN ROW ON TABLET*/
	.col-sm-5cols{
		width: 19%
	}

	.wdg-foot.center{
		width:40%;
	}

	

}

/*FIVE IN ROW ON TABLET*/
@media (min-width: $screen-md + 1) and (max-width: $screen-lg) {
	.galleries{
		figure{
			img{
				height:185px;
			}
		}

	}	
}

@media (max-width: $screen-md) {
	
	#navigation {
		ul{
			li{
				padding:0 9px;
			}
		}
	}

	.inside{
		width:100%;
	}
	.newslet {
		.left{
			border-right:none;
			margin-bottom:30px;
		}

	}

	#footer{
		.wdg-foot{
			margin-bottom:25px;
			ul{
				padding-left:17px;
			}
			&.last{
				float:none;
			}
		}
	}

	.notes-btm{
		margin-top:25px;
		line-height:1.6em;
	}

	.bootstrap-filestyle.input-group{
		margin-bottom:20px;
	}

	.inp-captcha span{
		margin-bottom:9px;
	}

	.foot-btm{
		text-align:center; 
	}

	.galleries {
		.inner{
			@include inline-block();
		}
	}

	.col-sm-5cols{
		width: 32%;
	}

	.select-glery{
		text-align:center;
	}

	.toptitle{
		.titleRound{
			width:78%;
		}
	}

	.wdg-foot.center{
		width:100%;
	}

}

@media (min-width: $screen-sm) and (max-width: $screen-md){
	
	#footer .container{
		background:none;
	}
}

@media (max-width: $screen-sm - 1){
	#header{
		.phone{
			position: absolute;
			right: 0;
			top: 0;
			width: 100%;
			font-size:15px;
			text-align: Center;
		}
	}

	#logo{
		text-align:center;
	}


	form{
		label{
			margin-bottom:12px;
		}
	}

	
	.inp-captcha .form-control{
		width:100%
	}	

	.galleries {
		figure{
		 .imgFill{
		 	height:255px;
		 }
		}
	}

	.col-sm-5cols{
		width: 45%;
	}

	.toptitle{
		.titleRound{
			width:73%;
		}
	}

}

@media (max-width: $screen-xs) {
	.toptitle{
		.titleRound, .btn-nextbg{
			width:100%;
			float:none;
		}

		.titleRound{
			margin:0;
			margin-bottom:10px;
		}
		.btn-nextbg{
			font-size:20px;
			@include border-radius(0);
		}
	}

}

@media (max-width: $screen-phone){
	
	.allnew{
		 figure{
		 	float:none;
		 	margin:0 auto 20px auto;
		 }
	}

	.col-sm-5cols{
		width:80%;
	}
}







