/*==========================================================================
  FOOTER
========================================================================== */
#footer{
	background:image-url("patern.jpg") repeat;
	border-top:6px solid #171717;
	position:relative;
	z-index:3;
	padding:40px 0 50px 0;
	&:before{
		content:"";
		position:absolute;
		top:0;
		left:0;
		@include size(100%, 10px);
		background:$black;
	}

	.foot-top{
		margin-bottom:30px;
	}

	.container{
		background:transparent image-url("glow.png") center top no-repeat;
	}
}

#footer{
	a{
		color:white;
	}
	.foot-top{
		@include make-row();
	}
	.title-bg{
		border-bottom:1px solid $blue_zodiac;
		text-align:left;
		padding-left:36px;
		margin-bottom:16px;
		font-size: 14px;
		letter-spacing: 0.1em;
	}

	.wdg-foot{
		
		&#openhours{
			li{
				margin-bottom:12px;
			}
		}

		&.last{
			float:right;
		}

		ul{
			li{
				display:block;
				margin-bottom:3px;
				a{
					@include inline-block();
					@include prefixed(transition,all 0.2s ease-out);

					&:hover{
						color:$hibiscus;
						text-decoration:none;
					}
				}
			}
		}
	}
}



.foot-btm{
	a, span{
		@include inline-block();
		margin-right:4px;
	}
	span{
		margin-left:50px;
	}

	a{
		background: image-url("share.png") 0 0 no-repeat;
		@include square(20px);
		@include prefixed(transition,all 0.2s ease-out);

		&:hover{
			@include opacity(0.7);
		}

		&.tw{
			background-position:top left;
		}
		&.fb{
			background-position:top right;
		}
	}	
}