/*==========================================================================
	GALLERY
========================================================================== */

.select-glery{
	margin-bottom:15px;
	text-align:right;
	.form-group{
		@include inline-block();
		margin-left:15px;
		
		.btn.btn-default{
			background:#141414;
		}
	}
}

.galleries{
	text-align:center;
	li{
		margin-bottom:24px;
		@include inline-block();
		float:none;
	}
	.inner{
		background:$bunker_light;
		padding:15px;
		text-align:center;
		@include prefixed(transition, all 02s linear);
		@include border-radius(15px);
		overflow:hidden;

		a:hover{
			text-decoration:none;
		}

		&:hover{
			figure img{
				@include box-shadow(0 0 9px 8px rgba(42,170,251,.75));
			}

			.name{
				color:#06abfc;
			}
		}
	}

	figure{
		margin:0 auto 12px auto;
		@include border-radius(10px);
		position:relative;
		text-align:center;
		max-width:167px;

		.imgNoFill{
			@include size(190px, 2px);
			margin:0 auto;
		}

		img{
			@include size(auto, 230px);
			margin:0 auto;
			@include border-radius(10px);
			@include prefixed(transition, all 0.3s linear);
		}
	}
	.name{
		margin-bottom:0;
		color:white;
		font-size:$pixel + 6;
	}

	.ribbon{
		position:absolute;
		top:0;
		left:0;
		@include size(60px, 61px);

		&.away{
			background:transparent image-url("ribbon_away.png") 0 0 no-repeat;
		}

		&.exclu{
			background:transparent image-url("ribbon_exclusive.png") 0 0 no-repeat;
		}
	}
}

/* ======== COSTUM PAGE ======== */
.imgSide{
	text-align:center;
	word-wrap:break-word;
	text-align:center;
	img{
		@include border-radius(15px);
		height:auto;
	}
}
