/*==========================================================================
  HEADER
========================================================================== */

#header{
	position:relative;
	z-index:5;
	background: $blue_zodiac;
	border-top:5px solid $allports;
	border-bottom:1px solid $allports;
	@include min-height(87px);
	margin-bottom:$pixel * 2 ;

	.container{
		background: transparent image-url("glossy.png") 100% 1px no-repeat;
	}
}
#logo{
	@include make-sm-column(3);
	margin-bottom:10px;
}

#header{
	.right{
		@include make-sm-column(9);
	}

	.phone{
		font-size:18px;
		font-weight:700;
		float:right;
		padding-top: 13px;
	}
}