/*==========================================================================
 	MISC
========================================================================== */

@import "../partials/bxslider";

.bx-wrapper{
	 .bx-viewport{
	 	background: transparent;
	 	@include box-shadow(none);
	 	left:0;
	 	border:none;
	 }
}
.boxbunker{
	 .bxpager{
	 	text-align: center;
	 	display: none;
	 	@media (min-width: 768px){
	 		display:block;
	 	}
	 	a{
	 		@include inline-block();
	 		margin: 8px;
	 	}

	 	img{
	 		height:183px;
	 		max-width: 250px;
	 	}
	}

	.bx-wrapper{
		 img{
		 	margin: 0 auto;
		 }
	}
}
